nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #596E79;
    padding: 1.25rem 4.063rem;
    margin: 0;
    box-shadow: 0 0.313rem 0.938rem rgba(0,  0, 0, 0.06);
}


#NavList {

    display: flex;
    align-items: center;
    justify-content:center;
}


#NavList li {

    list-style: none;
    padding: 0 1.25rem;
    position: relative;
}

#NavList li a{

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #202020;
    transition:0.3s ease-in-out ;
}


#NavList li a:hover{
    color: #F7F7F7;
}

#NavList li a:hover::after{

    content: "";
    width: 60%;
    height:0.125rem;
    background: #F7F7F7;
    position: absolute;
    bottom: -0.25rem;
    left: 1.25rem;
}

#Mobile-Screen i{
    color: #202020;
   
}

#Mobile-Screen i{
    display: none;
   
}
@media screen and (max-width:769px) {
    #NavList {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 5.07rem;
        right: -18.75rem;
        width: 18.75rem;
        height: 100vh;
        background: #202020;
        box-shadow: 0 2.5rem 3.75rem rgba(0,  0, 0, 0.1);

        padding: 2.5rem 0 0 0.625rem;

    }
    #NavList.active {
        right: 0;
    }
    #NavList li{

       margin-bottom: 1.563rem;
        

    }
    #NavList li a{

        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: #F7F7F7;
        transition:0.2s ease-in-out ;
    }
    
    
    #NavList li a:hover{
        color: #858585;
    }
    
    #NavList li a:hover::after{
    
        content: "";
        width: 60%;
        height: 0.125rem;
        background: #858585;
        position: absolute;
        bottom: -0.25rem;
        left: 1.25rem;
        transition:0.2s ease-in-out ;
    }
    #Mobile-Screen i{
        display: block;
       
    }

    #Mobile-Screen i{
        font-size: 1.5rem;
        cursor: pointer;
    }
}